* {
	--primaryBlue: #7bade2;
	--secondaryBlue: #1483cb;
	--tertiaryBlue: #073370;

	--primaryTeal: #5cc8d2;
	--secondaryTeal: #42a4a5;
	--tertiaryTeal: #0b7c6a;

	--primaryLight: #f1eeff;

	--sidebarWidth: calc(5em + 15vw);
	--footerHeight: 6em;

	margin: 0px;
	padding: 0px;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.backgroundFrame {
	min-height: calc(100vh - 2em);
	margin-bottom: var(--footerHeight);

	padding-left: var(--sidebarWidth);
	padding-bottom: 1em;

	background-color: var(--primaryTeal);
	background-image: linear-gradient(var(--primaryTeal), var(--secondaryTeal));
	
	color: #073370;
	position: relative;
}

div.backgroundFrame {
	margin: 1em;
	padding: 1em;
	background-color: var(--primaryLight);
}

img {
	width: 100%;
}

iframe.videoPlayer {
	width: calc(100vw - 5em - var(--sidebarWidth));
	height: calc((100vw - 5em - var(--sidebarWidth)) * 0.55);
}

iframe.sidebar {
	left: 0px;
	top: 0px;

	width: var(--sidebarWidth);
	height: 100vh;

	position: fixed;
}

iframe.footer {
	right: 0px;
	bottom: calc(var(--footerHeight) * -1);

	width: calc(100vw - var(--sidebarWidth) - 1em);
	height: var(--footerHeight);

	position: absolute;
}

a {
	color: var(--secondaryBlue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	margin-top: 0.8em;
	margin-bottom: 0.8em;

	border: none;
	border-bottom: solid var(--tertiaryBlue) 3px;
}

p {
	margin-bottom: 0.5em;
}